mailto: {{email}}

subject:
Intellij / Licenza JetBrains - raffle JUG Milano {{hash meetingId (es: #123)}}

Ciao {{nome}},
complimenti!

Ecco il codice per la licenza JetBrains:
{{codice}}

Questo coupon è valido per uno sconto del 100%.
Qui le istruzioni per utilizzarlo: https://sales.jetbrains.com/hc/en-gb/articles/206544449
Questo coupon è valido solo per "Individual Subscriptions" e non è valido per acquistare "Business/Organizations subscriptions".

Viste le nuove modalità logistico-organizzative in tempi di post-Covid-19 per il JUG Milano, ti prego di riscattarlo il prima possibile e di comunicarmi quando avrai riscattato il coupon.
Questo coupon scade formalmente il {{scadenza (es: 2023-12-01)}} e per evitare di lasciarli andare persi come ci è successo in passato, senza una tua conferma entro qualche giorno, viene condiviso al fortunato successivo.. approfittane il prima possibile! ;-)

Happy Coding!

Ciao,
 - JUG Milano staff
