{% assign dow = page.meetingdate | date: "%a" %}
{% case dow %}
{% when 'Mon' %}Lunedì
{% when 'Tue' %}Martedì
{% when 'Wed' %}Mercoledì
{% when 'Thu' %}Giovedì
{% when 'Fri' %}Venerdì
{% when 'Sat' %}Sabato
{% when 'Sun' %}Domenica
{% endcase %}
{{ page.meetingdate | date :"%-d"  }}
{% assign month = page.meetingdate | date: "%-m" %}
{% case month %}
{% when '1' %}Gennaio
{% when '2' %}Febbraio
{% when '3' %}Marzo
{% when '4' %}Aprile
{% when '5' %}Maggio
{% when '6' %}Giugno
{% when '7' %}Luglio
{% when '8' %}Agosto
{% when '9' %}Settembre
{% when '10' %}Ottobre
{% when '11' %}Novembre
{% when '12' %}Dicembre
{% endcase %}
{{ page.meetingdate | date :"%Y"  }}