<ul class="social">
	<li><a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="ss-icon ss-social">Twitter</i></a></li>
	<li><a href="https://plus.google.com/{{ site.gplus }}" target="_blank"><i class="ss-icon ss-social">googleplus</i></a></li>
	<li><a href="https://github.com/{{ site.github }}" target="_blank"><i class="ss-icon ss-social">Octocat</i></a></li>
	<li><a href="https://www.linkedin.com/{{ site.linkedin }}" target="_blank"><i class="ss-icon ss-social">LinkedIn</i></a></li>
	<li><a href="https://www.youtube.com/c/{{ site.youtube }}" target="_blank"><i class="ss-icon ss-social">YouTube</i></a></li>
	
<!--	<li><a href="https://www.facebook.com/{{ site.facebook }}" target="_blank"><i class="ss-icon ss-social">Facebook</i></a></li>
	<li><a href="http://dribbble.com/{{ site.dribbble }}" target="_blank"><i class="ss-icon ss-social">Dribbble</i></a></li>
	<li><a href="mailto:{{ site.email }}" target="_blank"><i class="ss-icon ss-social">Email</i></a></li>
	-->
</ul>