<!DOCTYPE html>
<body>
<pre>
Ciao a tutti,
siamo lieti di annunciarvi che il prossimo incontro del JUG Milano si terrà {% include formatted_date.html %}.

Questo il programma:
h 19:00 - JUG news e attività in corso
h 19:10 - "{{ page.title }}", a cura di {{page.speaker}}
h 20:30 (circa) - Estrazione licenza per IntelliJ Idea

Potete trovare maggiori dettagli e registrarvi per l'incontro
direttamente sul nostro sito:
http://www.jugmilano.it/{{page.uid}}.html

Dopo l'incontro, per chi vorrà, ci mangeremo una pizza condita da
chiacchiere tecnologiche.

Vi aspettiamo!

--
JUG Staff
</pre>
</body>